<div class="container mt-5">
    <div class="row">
      <div class="col border-right">
        <img src="http://localhost:9001/api/v1/instrumentos/images/{{instrumentoBuscado.imagen}}" alt="Imagen producto"
          class="imgDetails" />
        <div class="descripcionInstrumento">
          <h5>Descipción</h5>
          <p>{{instrumentoBuscado.descripcion}}</p>
        </div>
      </div>
      <div class="col">
        <p class="cantidadVendida">{{instrumentoBuscado.cantidadVendida}} vendidos</p>
        <h3 class="tituloDescripcion">{{instrumentoBuscado.instrumento}}</h3>
        <h2 class="precio">${{instrumentoBuscado.precio}}</h2>
        <br />
        <p>Marca: {{instrumentoBuscado.marca}}</p>
        <p>Modelo: {{instrumentoBuscado.modelo}}</p>
        <div *ngIf="instrumentoBuscado.costoEnvio == 'G'; else elseBlock" class="envioGratis">
          <img src="http://localhost:9001/api/v1/instrumentos/images/camion.png" alt="camion"> Envío gratis a todo el país
        </div>
        <ng-template #elseBlock>
          <span class="costoEnvio">Costo de envío interior de Argentina: {{instrumentoBuscado.costoEnvio}}</span>
          <br>
        </ng-template>
        <br />
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
    <div class="row">
      <a class="btn btn-primary" href="/productos">Volver</a>
    </div>
  </div>
  