<div class="container mt-5">

    <div class="row mb-3">
      <h1>
        Resultados para: "{{terminoEncontrado}}"</h1>
  
    </div>
    <div class="row" *ngIf="instrumentoBuscar.length > 0; else emptySearch ">
      <app-targeta (platoSeleccionado)="verInstrumento($event)" *ngFor="let instrumento of instrumentoBuscar"
        [instrumentoAux]="instrumento"></app-targeta>
    </div>
  
    <ng-template #emptySearch>
      <span class="text-center">No hay resultados para su búsqueda</span>
    </ng-template>
  </div>
  

<!-- <br>
<div class="container-fluid">


    <h1>Buscando: {{terminoEncontrado}}</h1>
    <div class="card justify-content-md-center  ">

        <div class="card-deck" *ngFor="let instrumento of instrumentoBuscar; let i = index"
            style="max-width: 25%; padding: 30px;">

            <div class="card-body border" style="background-color:rgba(204, 204, 204, 0.452);">
                <img class="card-img-top" src="assets/img/{{instrumento.imagen}}" alt="Card image cap"
                    style="max-height: 230px; max-width: 100%;">
                <hr>
                <h5 class="card-title">{{instrumento.instrumento}}</h5>
                <div class="costoEnvio" *ngIf="instrumento.costoEnvio == 'G'; else elseBlock">
                    
                    <span style="color:rgb(63, 170, 21);"><img src="assets/img/camion.png">
                        {{instrumento.costoEnvio}} : Envio Gratis</span>
                </div>

                <div>
                    <br>
           
                    <ng-template #elseBlock>Costo Envio: ${{instrumento.costoEnvio}}</ng-template>
                </div>


                <span class="badge badge-primary" style="background-color: rgb(134, 134, 134)
                ;">Precio $ {{instrumento.precio}}</span>
                <hr>
                <button (click)="verInstrumento(instrumento.id)" type="button"
                    class="btn btn-outline-light btn-lg btn-block" style="background-color: rgb(144, 21, 216)
                    ;">Detalle</button>


            </div>
            
            
        
        </div><br>
            <div>
                <a [routerLink]="['/instrumentos']" class="btn btn-outline-light" style="background-color: rgb(216, 21, 79)
                    ;">Regresar al catalogo</a>
            </div>
    </div>

</div> -->